body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #5c97bf;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

#app {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.3s ease;
    max-width: 400px;
    margin: auto;
}

input {
    padding: 10px;
    font-size: 16px;
    width: 92%;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #5c97bf;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

#weather-details {
    margin-top: 20px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

h1 {
    color: #5c97bf;
}